body {
    font-family: 'Inter';
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
}


/*-------------------------------------Add Task Form-------------------------------------*/

.show_form1 {
    transform: translateX(21.25vw);
}

.add-show-TaskBackground {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.889);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.addTaskCSS {
    position: fixed;
    transition: all 225ms ease-in-out;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 30px;
    width: 70vw;
    height: 85vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 7.5vh;
    z-index: 6;
}

#aTContent {
    table-layout: fixed;
    width: 100%;
    padding: 30px;
}

#aTContent tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#aTContent th {
    width: 50%;
}

#aTContent th:last-child {
    display: flex;
    justify-content: flex-end;
}

#aTContent td {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

#aTContent td div {
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
}

#aTContent td div span {
    color: #2A3647;
    margin-bottom: 5px;
}

#aTContentTitle {
    display: flex;
    justify-content: flex-start;
    font-size: 51px;
    margin-bottom: 14px;
}

.closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    cursor: pointer;
    color: #64975f;
}

.closeButton:hover {
    transition: 225ms ease-out;
    border-radius: 100%;
    background-color: #cde2fb;
}

#inputSection {
    width: 80%;
}

#inputSection input {
    border-radius: 10px;
    width: 100% !important;
}

#inputSection textarea {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-family: 'Inter';
    font-size: 14px;
    color: #000000;
}

#description {
    resize: none;
    width: 100%;
    border-radius: 5px;
}

#inputSection select {
    border-radius: 10px;
    width: 100% !important;
}

#middleLine {
    width: 20%;
}

#middleLine div {
    border-right: 1px solid lightgray;
    height: 350px;
    margin-right: 45%;
}

#aTContent input {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    color: #000000;
    font-family: 'Inter';
    font-size: 14px;
    width: 80%;
    height: 30px;
}

#aTContent select {
    border-radius: 10px;
    background-color: transparent;
    font-family: 'Inter';
    font-size: 14px;
    padding: 12px, 16px, 12px, 16px;
    width: 80%;
    height: 30px;
}

.requiredField {
    position: fixed;
    display: flex;
    flex-direction: row !important;
    bottom: 0;
}

.red {
    color: red !important;
}

.priority {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    width: 60%;
}

.prio-button {
    display: flex;
    padding: 6px 4px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    display: flex;
    border-radius: 10px;
    background: var(--white, #FFF);
    border-radius: 10px;
    border: 1px solid var(--Style, #D1D1D1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    max-width: fit-content;
}

#container {
    display: flex;
    flex-direction: row !important;
}

#hiddenButtons {
    display: flex;
    flex-direction: row !important;
    color: black;
    cursor: pointer;
    max-width: fit-content !important;
}

#hiddenButtons string {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2A3647;
    width: 20px;
}

#hiddenButtons string:hover {
    transition: 225ms ease-out;
    border-radius: 100%;
    background-color: #cde2fb;
}

#displaySubtasks {
    margin-bottom: 20px;
    max-width: 80%;
    max-height: 60px;
    overflow-y: auto;
}

#displaySubtasks div {
    margin-bottom: 0px !important;
}

.buttonsAtEnd {
    position: fixed;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    width: 28%;
    bottom: 0;
}

.buttonsAtEnd button {
    width: fit-content;
    height: fit-content;
}

.button-clear {
    border-radius: 10px;
    border: 1.5px solid var(--version-2-main-color, #2A3647);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 13px;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2A3647;
}

.button-create-task {
    border-radius: 10px;
    border: 1.3px solid var(--version-2-main-color, #2A3647);
    background: #2A3647;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 13px;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

/*------------------------------------Show Task Form------------------------------------*/

.showTaskCSS {
    position: fixed;
    display: flex;
    transform: translateX(250vw);
    transition: all 225ms ease-in-out;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 30px;
    width: 25vw;
    height: 90vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 5vh;
    z-index: 6;
}

.show_form2 {
    transform: translateX(37.5vw);
}

#showTaskContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 30px;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 95%;
    height: 98%;
    padding: 7px;
}

#headContainer2 {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
}

#category2 div {
    color: white;
    border-radius: 10px;
    width: max-content !important;
    padding: 5px;
}

#title2 {
    font-size: 38px;
    font-weight: bold;
    max-width: 95%;
}

.date-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65% !important;
}

#date2 {
    display: flex;
    justify-content: flex-end;
}

.priorityContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    width: 65% !important;
}

#priority2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#priority2 img {
    width: 12px;
    height: 10px;
    margin-left: 5px;
}

.priorityButtons {
    max-width: fit-content;
}

#buttonsOnBottom {
    display: flex;
    justify-content: flex-end;
    width: 90% !important;
}

#Edit-Delete img:nth-child(1) {
    width: 50px;
    padding: 2px;
    cursor: pointer;
}

#Edit-Delete img:nth-child(2) {
    border-left: 1px solid #D1D1D1;
    width: 65px;
    padding: 2px;
    cursor: pointer;
}

#Edit-Delete img:hover {
    background-color: #cde2fb;
    border-radius: 10px;
    transition: 225ms ease-in-out;
    width: 50px;
    padding: 2px;
}

#Edit-Delete img:hover:nth-child(2) {
    background-color: #cde2fb;
    border-radius: 10px;
    transition: 225ms ease-in-out;
    width: 65px;
    padding: 2px;
}

#Save string {
    font-size: 13px;
    color: #42526E;
    padding: 2px;
    cursor: pointer;
}

#Save string:hover {
    background-color: #cde2fb;
    border-radius: 10px;
    transition: 225ms ease-in-out;
    width: 50px;
    padding: 2px;
}

/*------------------------------------Edit Task Form------------------------------------*/

.elementStyling {
    font-size: 15px;
    font-weight: normal;
    color: #42526E;
}

#showTaskContent div {
    width: 400px;
}

#showTaskContent input {
    border: 1px solid rgb(136, 136, 136);
    border-radius: 7px;
    width: 80%;
}

#priority2 button {
    border: unset;
    background-color: #d8f0ff;
    border-radius: 12px;
}

#currentContacts button {
    border: unset;
    background-color: rgba(255, 0, 0, 0.656);
    border-radius: 7px;
    font-size: 10px;
    color: rgb(255, 255, 255);
}

#inputNewSubtask2 {
    max-width: 75% !important;
    height: max-content;
}

#hiddenButtons2 {
    display: flex;
    flex-direction: row !important;
    color: black;
    cursor: pointer;
    max-width: fit-content !important;
}

#hiddenButtons2 string {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2A3647;
    width: 20px;
}

#hiddenButtons2 string:hover {
    transition: 225ms ease-out;
    border-radius: 100%;
    background-color: #cde2fb;
}

#container3 {
    display: flex;
    flex-direction: column;
}

#displaySubtasks2 {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-top: 5px;
}

#displaySubtasks2 div {
    display: flex;
    white-space: nowrap;
    height: 18px;
}

#editDeleteButtons {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    width: 90% !important;
}

#editDeleteButtons div {
    display: flex;
    flex-direction: row !important;
    width: max-content;
}

#editDeleteButtons div string {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2A3647;
    width: 20px;
}

#editDeleteButtons div string:hover {
    transition: 225ms ease-out;
    border-radius: 100%;
    background-color: #cde2fb;
}

.editDiv {
    display: flex;
    flex-direction: row !important;
    width: 100%;
    max-height: max-content !important;
}

.editDiv input {
    border: 1px solid rgb(205, 205, 205) !important;
    width: 100%;
}

.editDiv string {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2A3647;
    width: 20px;
    height: fit-content;
    cursor: pointer;
}

.editDiv string:hover {
    transition: 225ms ease-out;
    border-radius: 100%;
    background-color: #cde2fb;
}


/*--------------------------------------Head Bereich--------------------------------------*/

#body_area {
    position: absolute;
    width: 82vw;
    max-height: max-content;
    top: 96px;
    left: 240px;
    bottom: 0;
    right: 0;
    margin: 0;
    z-index: 0;
}

#title {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f7f8;
    padding: 0;
    width: 82vw;
}

#title h1 {
    font-size: 45px;
}

#title button {
    border: unset;
    background-color: unset;
}

#search {
    display: flex;
    align-items: center;
    border: 2px solid #A8A8A8;
    border-radius: 10px;
}

#search input {
    border: 0px solid transparent;
    background-color: unset;
    border-right: 1px solid #A8A8A8;
    margin: 5px;
    width: 200px;
}

#search img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

/*------------------------------------Bord Responsive------------------------------------*/

#boardResponsive {
    display: none;
}

/*-----------------------------------------Bord-----------------------------------------*/

#board {
    table-layout: fixed;
    width: 100%;
    margin-top: 120px;
}

#board th {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #42526E;
}

#board th:nth-child(1) {
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
}

#board th:nth-child(2) {
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
}

#board th:nth-child(3) {
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
}

#board th:nth-child(4) {
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
}

#board th button {
    border: unset;
    background-color: unset;
}

#board tr {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#board td {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
    margin-top: 20px;
}

#board td:nth-child(1) {
    width: 25%;
}

#board td:nth-child(2) {
    width: 25%;
}

#board td:nth-child(3) {
    width: 25%;
}

#board td:nth-child(4) {
    width: 25%;
}

.noTasks {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A8A8A8;
    background-color: #E7E7E7;
    border: 1px dashed #707070;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
    width: 95%;
    height: 20%;
}

.taskCSS {
    cursor: pointer;
}

.taskBox {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
    width: 250px;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

#taskCategory {
    font-size: 18px;
    font-weight: normal;
    border-radius: 9px;
    width: fit-content;
    margin-bottom: 25px;
    padding: 4px;
}

.taskTitle {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

.taskDescription {
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: normal;
    color: grey;
}

#taskSubtasks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
}

.taskSubtasksProgressbar {
    width: 65%;
    height: 20px;
}

.taskNumberOfSubtasks {
    display: flex;
    justify-content: flex-end;
    text-align: end;
    width: 35%;
}

.taskEnd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 5px;
}

.taskEnd img {
    width: 20px;
    height: 16px;
    object-fit: contain;
}

.taskContactIcon {
    display: flex;
    justify-content: center;
    color: #212121;
    border-radius: 100%;
    max-width: 22px;
    padding: 4px;
}

/*-------------------------------------Search Result-------------------------------------*/

#searchResults {
    display: flex;
    flex-wrap: wrap;
    width: 96vw;
    margin-top: 17vh;
}

/*-----------------------------------------Etc.-----------------------------------------*/

.display-none {
    display: none;
}

.hide {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.myDIV:hover+.hide {
    display: block;
    color: red;
}