.main-div-contacts {
    position: absolute;
    top: 96px;
    left: 220px;
    bottom: 0;  
    right: 0;
}

.sub-div-contacts { height: 100%; }

.contacts-div {
    overflow-y: scroll;
    min-width: 404px;
    overflow-x: hidden;
    padding: 22.5px 52px;
    background-color: #FFFFFF;
}

.add-contacts-btn {
    width: 352px;
    cursor: pointer;
    padding: 12px 0;
}

.team-slogan {
    padding: 48px;
    padding-top: 64px;
    flex-shrink: 0;
}

.contacts-overlay { 
    white-space: nowrap; 
    height: 592px;
}

#contact-book > div { min-width: 304px; }

#overlay-contacts div.bg-dark-blue,
#edit-contacts div.bg-dark-blue {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 66px 48px;
    color: white;
}

.join-logo-small {
    width: 55px;
    height: 66px;
}

.overlay-forms {
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.overlay-forms > div { padding: 64px; }

.overlay-forms > div.w-100 { padding-left: 0; }

.overlay-forms > div > form div.gap-35px { padding: 48px 0; }

.icon-name { background-image: url(/assets/img/person.png); }

.icon-phone { background-image: url(/assets/img/call.png); }

.contact,
#contact-book > tr > td { 
    width: 352px;
    padding: 17px 24px;
    font-weight: 700;
}

.contactHover:hover { background-color: rgba(0, 0, 0, 0.1); }

#contact-book > tr > div { border-radius: 10px; }
/* #contact-book > tr > div:hover { background-color: rgba(0, 0, 0, 0.1); } */
#contact-book > tr > div { cursor: pointer; }
#contact-book > tr > td > span { margin-left: 12px; }
a { color: #007CEE; }

.separator {
   padding: 8px 0;
   border-bottom: 1px solid #D1D1D1;
   margin-bottom: 8px;
}

.marginLetter {
    margin-bottom: -45px;
}

.acronym {
   border-radius: 50%;
   width: 36px;
   height: 36px;
   color: white;
   border: 3px solid white;
}

.mr-54px { margin-right: 54px; }

.edit-contact > div > div > div { cursor: pointer; }

.edit-contact > div.mr-54px,
#edit-Overlay-Menu-Avatar > div
{
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 4px solid white;
}

.margin-bottom {
    margin-bottom: 20px !important;
}

.add-contacts-btn-resp{
    display: none !important;
}
/* input[type=number] {
    
} */

@media only screen and (max-width: 800px) {

  .main-div-contacts{
    left:0;
    right:unset;
    width: 100%;
    justify-content: center;
    align-items: center;
    height:120vh;
    
  }

  .sub-div-contacts{
    width:100%;
  }

  .contacts-div{
    padding: 0px;
  }

  .team-slogan{
    display: none;
  }

  .add-contacts-btn{
    display: none !important;;
  }

  .add-contacts-btn-resp{
    display: flex !important;
    width:60px;
    height:60px;
    bottom:100px;
    border-radius: 100px !important;
    position: fixed;
    right:20px;
  }
  
}